@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:OpenSans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

:root{
  --verde-escuro:#00484C;
  --verde-claro:#69D7A0;
  --bege:#E9DAC1;
  --opacity:rgba(0, 0, 0, 0.1);
}